{
     "semi": true,
     "singleQuote": true,
     "jsxSingleQuote": false,
     "bracketSpacing": true,
     "trailingComma": "none",
     "printWidth": 180,
     "tabWidth": 5,
     "arrowParens": "always"
}